
{% load static %}
{% load active_link_tags %}
{% block left-nav %}

    <div class="sidebar" data-image="{% static 'img/sidebar-5.jpg' %}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="https://github.com/morph1904/tyger" class="simple-text">
                        Tyger
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item {% active_link 'dashboard:dashboard' %}">
                        <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item {% active_link 'proxies:list' %}">
                        <a class="nav-link" href="{% url 'proxies:list' %}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Proxies</p>
                        </a>
                    </li>
                    <li class="nav-item active active-pro">
                        <a class="nav-link active" href="https://github.com/morph1904/tyger">
                            <i class="nc-icon nc-alien-33"></i>
                            <p>View on Github. </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

{% endblock %}